<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aptestfunctionapp11.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/46c08b84-f5cc-4e15-baf0-619d34117086/resourceGroups/applepaypoc-rg-d/providers/Microsoft.Web/sites/APTestFunctionApp11</ResourceId>
    <UserName>$APTestFunctionApp11</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://aptestfunctionapp11.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>